# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.venv/
env/
*.egg-info/

# PyCharm
.idea/
*.iml

# Data / models (don't track large files)
data/
models/
reports/*.pdf

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
